*{
    margin: 0px;
}

.background-top {
    width: (100vw - 2vh);
    height: 10vh;
    border-style: solid;
    border-color: #222D31;
    background-color: #222D31;
}

.container-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 98.875vw;
    height: 10vh;
    border-style: solid;
    border-color: dimgray;
    background-color: white;
    position: fixed;
}

.container-logo {
    display: flex;
    align-self: center;
    margin-left: 2.4vw;
    margin-right: 0%;
    height: 4.5vw;
}

#isbold {
    font-weight: bold;
}

a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    text-decoration: none;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    text-decoration: none;
}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.hide {
    display: none;
}

.container-functions {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 1.45vw;
    width: 343px;
    height: 10vh;
}

.products-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    width: 27.5%;
    height: 3.7vh;
    transition-duration: 0.4s;
}

.about-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    width: 21%;
    height: 3.7vh;
    margin-left: 1vh;
    transition-duration: 0.4s;
}

.support-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    width: 22%;
    height: 3.7vh;
    margin-left: 1vh;
    transition-duration: 0.4s;
}

.cart-button {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
    width: 10vh;
    height: 10vh;
    margin-left: 1vh;
    transition-duration: 0.4s;
}

button {
    background-color: white;
    border: none;
    border-radius: 1vh;
    cursor: pointer;
}

button:hover {
    background-color: gainsboro;
}

#cartimg {
    width: 6.5vh;
    height: 6.5vh;
}

.cart {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -100%;
    width: 340px;
    min-height: 100vh;
    background: white;
    box-shadow: -2px 0 4px rgb(49, 49, 49);
    transition: 0.3s;
}

.cart.active {
    right: 0;
}

.cart > * {
    margin: 1vw;
}

.cart > h2 {
    text-align: center;
    font-size: 1.5rem;
}

.cart-remove {
    cursor: pointer;
    width: 50px;
    height: auto;
    margin: -1vw;
    margin-bottom: 1vw;
}

.buy-button {
    display: flex;
    margin: 1.5rem auto 0 auto;
    padding: 12px 20px;
    border: none;
    background: whitesmoke;
}

#cart-close {
    position: fixed;
    width: 50px;
    height: auto;
    margin-top: -1vw;
    margin-left: 0vw;
    top: 1rem;
    cursor: pointer;
}

.cart-box {
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.cart-box > .img-in-cart{
    width: 90px;
    height: auto;
    object-fit: contain;
}

.detail-box {
    display: grid;
    row-gap: 0.5rem;
}

.cart-product-title {
    font-size: 1rem;
    text-transform: uppercase;
}

.cart-quantity {
    border: 1px solid;
    width: 2.4rem;
    text-align: center;
    font-size: 1rem;
}

.total {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 1px solid;
}

.total-price {
    margin-left: 0.5rem;
}

.mainimg {
    display: flex;
    justify-content: space-between;
    width: (100vw - 2vh);
    background-color: #222D31;
}

#mainimg {
    width: 98vw;
    height: auto;
}

.container-mid {
    width: (100vw - 2vh);
    height: auto;
    background-image: url(images/double-bubble-outline.png);
}

.products-text {
    width: 17rem;
    height: auto;
    margin-left: 1.8vw;
    border-bottom: gray;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-style:solid;
    font-size: 3rem;
}

#isinvisible {
    color: rgba(255, 255, 0, 0);
}

.product-container {
    display: flex;
    width: 89vw;
    height: auto;
    margin-left: 4vw;
    margin-right: 4vw;
    margin-top: 1.3vw;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: flex-start;
}

.product-box {
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-bottom: 20px;
    width: 360px;
    height: 200px;
    border-style: solid;
    background-color: white;
}

.product-box > img:hover {
    margin: 0.5vw;
    transition: 0.4s;
    cursor: pointer;
}

.productimage {
    width: auto;
    height: 180px;
}

.producttext-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 230px;
    height: 180px;
}

.producttext-box > a{
    text-overflow: ellipsis;
    overflow: hidden;
}

#bottomtext {
    margin-left: 1.3vw;
}

.container-bot {
    display: flex;
    align-items: center;
    width: (100vw - 2vh);
    height: 10vh;
    background: white;
}

/* Abous Us */
.container-top2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 99.7%;
    height: 10vh;
    border-style: solid;
    border-color: dimgray;
    background-color: white;
    position: fixed;
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: (100vw - 2vh);
    min-height: 79.3vh;
    background-image: url(images/double-bubble-outline.png);
}

.about-text-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 25px;
    margin-right: 2.5vw;
    margin-left: 2.5vw;
    margin-bottom: 25px;
    width: 95vw;
    min-height: 72.5vh;
    background-color: white;
}

body {
    display: flex;
    flex-direction: column;
}